@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  scroll-behavior: smooth;
  background-image: url("Assets/collectionOneBackground.jpeg");
}

a {
  text-decoration: none;
}

@media (max-width: 100000px) {
  /* Main Desktop Navigation */

  nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #000000;
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    height: 60px;
  }

  nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  nav a:hover {
    opacity: 0.5;
  }

  /* Folders Container Styling */
  .foldersContainer {
    overflow: hidden;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
  }
  .foldersContainer img {
    transition: transform 0.6s ease;
  }

  /* Folder Stylings */
  .collectionFolder {
    position: absolute;
    cursor: pointer;
    transition: transform 0.6s ease;
    transform: translateY(0);
  }

  .collectionFolder1 {
    top: 25rem;
  }

  .collectionFolder2 {
    top: -30rem;
  }

  .collectionFolder1,
  .collectionFolder2 {
    position: relative;
    width: 100%;
    height: auto;
  }

  .folder-active {
    transform: translateY(-25rem);
  }

  .sub-img {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s;
  }

  .sub1 {
    top: 20%;
    left: 20%;
  }
  .sub2 {
    top: 60%;
    left: 60%;
  }

  .sub-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .innerfolderContent {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    z-index: 2;
  }

  .innerfolderContent a {
    display: inline-block;
  }

  .innerfolderContent img {
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .innerfolderContent img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  /* Collection Information Containers Styling */
  .infoContainer {
    display: flex;
  }

  .column {
    padding: 15px;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .collectionIntroColumn h1 {
    font-family: "Inter Tight", sans-serif;
    color: white;
    margin-bottom: 0.5rem;
  }

  .collectionIntroColumn p {
    font-family: "Inter Tight", sans-serif;
    color: white;
    margin-bottom: 1rem;
  }

  .collectionInfoColumn h3 {
    font-family: "Inter Tight", sans-serif;
    color: white;
    margin-bottom: 0.5rem;
  }

  .collectionInfoColumn p {
    font-family: "Inter Tight", sans-serif;
    color: white;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .column {
      flex: 1 1 100%;
    }
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    object-fit: contain;
  }

  section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
  }

  .slideshowContainer {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  /* Footer Information */
  footer {
    font-family: "Inter Tight", sans-serif;
    color: white;
    background-color: #000000;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: auto;
  }

  .social-media-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  .icon:hover {
    transform: scale(1.1);
  }

  .linkedin2 {
    background-image: url("./Assets/linkedin-app-white-icon.webp");
    width: 45px;
    height: 45px;
  }

  .instagram2 {
    background-image: url("./Assets/instagram-white-icon.webp");
    width: 45px;
    height: 45px;
  }

  .email2 {
    background-image: url("./Assets/email-envelope-white-icon.webp");
    width: 45px;
    height: 45px;
  }
}

/* Responsive scaling */
@media (max-width: 900px) {
  .collectionFolder {
    width: 90%;
  }

  .innerfolderContent img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .collectionFolder {
    width: 95%;
  }

  .innerfolderContent img {
    width: 45%;
  }
}
